@{
    ViewData["Title"] = "Employee Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="containerMain mt-n10">
    <div class="card mb-3 ">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Employee Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-6">
                    <div class="col-form-label">
                        Total Employee :<label class="font-weight-bold" id="lblTotal">0</label>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex d-md-flex justify-content-md-end align-items-md-end">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="choice" id="UserId" value="UserId">
                            <label for="choice" class="fw-bold">User ID</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="choice" id="DomainId" value="DomainId">
                            <label for="choice" class="fw-bold">Domain ID</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="choice" id="ICNo" value="ICNo">
                            <label for="choice" class="fw-bold">IC No</label>
                        </div>
                        <div>
                            <input type="text" class="form-control-domainId mr-2" placeholder="Search ID / Domain / IC" id="txtSearch" maxlength="30" width="100" pattern="^[a-zA-Z0-9 ]*$" />
                        </div>
                        <div>
                            <button type="button" id="btnProfileAdd" class="btn btn-outline-success font-weight-600 btn-sm ml-4">Add Profile</button>
                        </div>

                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table border border-purple table-striped no-footer table-hover" role="grid" id="tbldata">
                        <thead>
                            <tr>
                                <th class="noExport d-none"></th>
                                <th class="wd-40-f">S No</th>
                                <th class="nowrap">ID</th>
                                <th class="nowrap">Name</th>
                                <th class="nowrap">Gender</th>
                                <th class="nowrap">Address</th>
                                <th class="nowrap">State</th>
                                <th class="nowrap">District</th>
                                <th class="noExport nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody id="DetailBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script asp-src-include="~/developerjs/mtables.js"></script>
<script asp-src-include="~/developerjs/Employee.js"></script>
<div class="modal fade" id="AddNewProfile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Profile Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="" id="SaveProfile" name="SaveProfile" method="post">
                        <div class="row">
                            <div class="form-group row mb-2">
                                <span class=" d-none" id="spnUserProfileId">0</span>
                                <label class="col-form-label col-sm-4 fw-bold">Army No<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control1" placeholder="Enter Army No" id="txtArmyNo" name="txtArmyNo" maxlength="10" data-val-maxlength="Maximum length of Offr Army No is ten character." data-val-maxlength-max="10" data-val-minlength="Minimum length of Offr Army No is eight character." data-val-minlength-min="8" minlength="8" data-val="true" data-val-regex="This special chars and space not allowed for security reasons." data-val-required="Offr Army No is required." data-val-regex-pattern="^[\w]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtArmyNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Rank<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlRank" id="ddlRank" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Rank is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select Rank</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlRank" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Name<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Enter Name" id="txtName" name="txtName" maxlength="50" data-val-maxlength="Maximum length of Name is fifty character." data-val-maxlength-max="50" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Name is required." data-val-regex-pattern="^[\w ]*$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Mobile No<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control1 isNumerictxt" placeholder="Enter Mobile No" id="txtMobileNo" name="txtMobileNo" maxlength="10" data-val-maxlength="Maximum length of Mobile No is ten digit." data-val-maxlength-max="10" data-val-minlength="Minimum length of Mobile No is ten digit." data-val-minlength-min="10" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Mobile No is required." data-val-regex-pattern="^[\d]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtMobileNo" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Token required<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsToken" value="true" id="isTokenyes" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-regex-pattern="^[a-zA-Z]*$">
                                        <label class="form-check-label" for="isTokenyes">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" name="IsToken" value="false" id="isTokenno" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-regex-pattern="^[a-zA-Z]*$">
                                        <label class="form-check-label" for="isTokenno">
                                            No
                                        </label>
                                    </div>
                                    <span class="text-danger field-validation-valid" id="IsToken-error" data-valmsg-for="IsToken" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" class="btn btn-outline-primary" value="Save" id="btnProfileAdd" onclick="Proceed()" />
                                <button type="button" id="btnProfileAddReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>