@{
    ViewData["Title"] = "Employee Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="containerMain mt-n10">
    <div class="card mb-3 mt-10 ">
        <div class="card-header">

            <span id="SpnTxnId" class="d-none">0</span>
            @*<span id="PtoId" class="d-none">0</span>*@
            <div class="row">
                <div class="col-xl-12 text-left">
                    <h3>
                        Employee Details
                        <small class="text-muted"></small>
                    </h3>
                </div>
            </div>
        </div>
        <div class="card-body" style="min-height:150px;">
            <div class="row">
                <div class="col-xl-6">
                    <div class="col-form-label">
                        Total Employee :<label class="font-weight-bold" id="lblTotal">0</label>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="d-flex d-md-flex justify-content-md-end align-items-md-end">
                        <div>
                            <button type="button" id="btnEmployeeAdd" class="btn btn-outline-success font-weight-600 btn-sm ml-4">Add Employee</button>
                        </div>

                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table border border-purple table-striped no-footer table-hover" role="grid" id="tbldata">
                        <thead>
                            <tr>
                                <th class="noExport d-none"></th>
                                <th class="wd-40-f">S No</th>
                                <th class="nowrap">ID</th>
                                <th class="nowrap">Name</th>
                                <th class="nowrap">Gender</th>
                                <th class="nowrap">Address</th>
                                <th class="nowrap">State</th>
                                <th class="nowrap">District</th>
                                <th class="noExport nowrap">Action</th>
                            </tr>
                        </thead>
                        <tbody id="DetailBody">
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/developerjs/mtables.js"></script>
<script src="~/developerjs/Employee.js"></script>
<div class="modal fade" id="AddNewEmployee" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Enter Employee Details</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form action="" id="SaveEmployee" name="SaveEmployee" method="post">
                        <div class="row">
                            <div class="form-group row mb-2">
                                <span class=" d-none" id="spnEmployeeId">0</span>
                                <label class="col-form-label col-sm-4 fw-bold">Employee Name<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <input class="form-control1" placeholder="Enter Employee Name" id="txtName" name="txtName" maxlength="50" data-val-maxlength="Maximum length of Employee is fifty character." data-val-maxlength-max="50" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Employee Name is required." data-val-regex-pattern="^[\w ]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtName" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Gender<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlGender" id="ddlGender" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="Gender is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select Gender</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlGender" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">Address</label>
                                <div class="col-sm-8">
                                    <input class="form-control" placeholder="Enter Address" id="txtAddress" name="txtAddress" maxlength="100" data-val-maxlength="Maximum length of Address is hundred character." data-val-maxlength-max="100" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-regex-pattern="^[\w ]+$" />
                                    <span class="text-danger field-validation-valid" data-valmsg-for="txtAddress" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">State<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlState" id="ddlState" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="State is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select State</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlState" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-form-label col-sm-4 fw-bold">District<i class="fas fa-asterisk mand1"></i></label>
                                <div class="col-sm-8">
                                    <select class="form-select" style="width: 100%;" tabindex="-1" aria-hidden="true" name="ddlDistrict" id="ddlDistrict" data-val="true" data-val-regex="This special chars not allowed for security reasons." data-val-required="District is required." data-val-regex-pattern="^[\d]+$">
                                        <option value="0">Select District</option>
                                    </select>
                                    <span class="text-danger field-validation-valid" data-valmsg-for="ddlDistrict" data-valmsg-replace="true"></span>
                                </div>
                            </div>
                            <div class="col-sm-12 text-right">
                                <input type="button" id="btnEmployeeSubmit" class="btn btn-outline-primary" value="Save" />
                                <button type="button" id="btnEmployeeAddReset" class="btn btn-outline-danger">Reset</button>
                            </div>
                            <div class="col-sm-12" id="msg">
                            </div>
                        </div>
                    </form>

                    <div class="col-sm-12" id="msg">
                    </div>
                </div>
            </div>

        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div>